In [ ]:
q1 : Create your own class to perform a list search operation 
q2 : create a class for dict new element addition
q3 : create a class for tuple data extraction operation
q4 : Create a class to implement all insert , update , delete operation for mysql
q5 : create a class to implement insert , uupdate and delete in monngo db 
q6 : create a class to perform append and delete operation in a file and inherit it in child class 
q7 : create a class to import a data into file from mongo db 
q8 : Create a class to build a calculator funcnalities addition , subtraction , multiplication ,div , log , exponenet , power 
q9 : create a class method to find a time and space complexity of any function
q10: create a class to do a bulk uplaod of a file in mysql 
q11: give 10 different example of ploymorphism , encaptulation ,data  abstraction , overloading , ovverriding , multiple inheritance
q12: Try to explore a meaning of "-> " this sinnature in python 

you have to complete this task before next saturday (21st of jan 2023) class and send it to me : sudhanshu@ineuron.ai with up and running code

class timeinig for 21st and 22nd will be 10 AM IST , only for one week as i am traveling (sat and sun ) after that it will be 
same as per our regular schedule

In [2]:
#logging class
import logging as lg
import os
from pathlib import Path


# class logger:
class Log_class:
    def __init__(self):
        self.logger = lg.getLogger()
        self.logger.setLevel(lg.DEBUG)
        f = lg.Formatter('%(asctime)s %(name)s %(levelname)s %(message)s')
        h = lg.FileHandler('task.log',mode='w')
        h.setFormatter(f)
        self.logger.addHandler(h)
        
    def debug(self,message):
        lg.debug(message)

    def info(self,message):
        lg.info(message)

    def error(self,message):
        lg.error(message)

    def warning(self,message):
        lg.warning(message)

    def critical(self,message):
        lg.critical(message)

In [18]:
#q1
import re

class file:
    def __init__(self,filename):
        self.filename = filename
        self.log = Log_class()
        
    def read(self):
        try:
            self.log.info("Started reading file.....")
            with open(self.filename,'r') as f:
                data = f.read()
                self.log.info("file reading done")
            return data
        except Exception as e:
            self.log.error(f"Issue while reading the file in {__name__}")
            self.log.error(e)
    
    def write(self,data):
        try:
            self.log.info("Started writing file.....")
            with open(self.filename,'a') as f:
                data = f.write(data)
                self.log.info("file writing done")
        except Exception as e:
            self.log.error(f"Issue while writing the file in {__name__}")
            self.log.error(e)
            
    def search(self,pattern):
        try:
            self.log.info("Started searching file.....")
            with open(self.filename,'r') as f:
                data = f.read()
                matches = pattern.findall(data)
                self.log.info("file searching done")
                return matches
        except Exception as e:
            self.log.error(f"Issue while searching the file in {__name__}")
            self.log.error(e)

In [19]:
pattern = re.compile(r'.at',re.IGNORECASE)
file_obj = file("text.txt")
file_obj.search(pattern)

['Mat', 'Mat', 'cat', 'hat', 'mat', 'pat', 'sat', 'bat', 'pat']

In [5]:
# q2 : create a class for dict new element addition
class dictionary:
    def __init__(self):
        self.log = Log_class()
        self.dic = {}
        
    def add_single(self,key,value):
        try:
            self.dic[key] = value
            self.log.info("addition complete")
        except Exception as e:
            self.log.error(f"Issue while adding element in {__name__}")
            self.log.error(e)
        
d = dictionary()
d.add_single('one',1)
print(d.dic)

{'one': 1}

In [6]:
# q3 : create a class for tuple data extraction operation
class tuple_class:
    def __init__(self,data = ()):
        self.log = Log_class()
        self.tup = data
    def extract(self,index):
        try:
            return self.tup[index]
        except Exception as e:
            self.log.error(f"Issue while extracting element in {__name__}")
            self.log.error(e)

In [7]:
t = tuple_class((1,2,3))
t.extract(0)

1

In [196]:
# q4 : Create a class to implement all insert , update , delete operation for mysql
# q10 bulk upload in sql


import mysql.connector as connection
import datetime
import csv
class sql:
    def __init__(self,host,database,user,password):
        self.db_host = host
        self.db_database = database
        self.db_user = user
        self.db_password = password
        self.log = Log_class()
        
    def connect(self):
        try:
            self.log.info("Connecting to sql server")
            self.mydb = connection.connect(
                host = self.db_host,
                database = self.db_database,
                user= self.db_user,
                password = self.db_password,
                use_pure = True
            )
            if self.mydb.is_connected():
                print("Successfunny connected")
                self.log.info("Connection is successfull")
            else:
                print("failed to connect")
                self.log.info("Connection failed !!!")
        except Exception as e:
            self.log.error(f"Issue while conenction to mysql database in {__name__}")
            self.log.error(e)
            
            
    def procedure(self,query):
        try:
            self.log.info("Starting query")
            cursor = self.mydb.cursor()
            cursor.execute(query)
            return cursor.fetchall()
            self.log.info("completed query")
        except Exception as e:
            self.log.error(f"Issue while query in {__name__}")
            self.log.error(e)
    #how to introduce table
    def insert(self,record,table):
        try:
            self.log.info("inserting record")
            cursor = self.mydb.cursor()
#             query = f"insert into test values({},{},{})")
            cursor.execute("insert into test values(%s,%s,%s)",(record[0],record[1],record[2].date()))
            self.mydb.commit()
        except Exception as e:
            self.log.error(f"Issue while inserting record in {__name__}")
            self.log.error(e)
        finally:
            self.log.info("inserting done")
    def insert_bulk(self,csv_file,table):
        try:
            self.log.info("inserting bulk record")
            cursor = self.mydb.cursor()
            with open(csv_file,'r') as data:
                next(data)
                data_csv = csv.reader(data,delimiter = '\n')
                for i in data_csv:
                    l = i[0].split(',')
                    cursor.execute("insert into test values(%s,%s,%s)",(l[1],l[2],l[3]))
            self.mydb.commit()
        except Exception as e:
            self.log.error(f"Issue while bulk inserting record in {__name__}")
            self.log.error(e)
        finally:
            self.log.info("bulk inserting done")
    def update(self,record1,record2):
        try:
            self.log.info("updating record")
            cursor = self.mydb.cursor()
            cursor.execute("update test set x1 = %s where x2 = %s",(record1[0],record2[1]))
            self.mydb.commit()
        except Exception as e:
            self.log.error(f"Issue while updating record in {__name__}")
            self.log.error(e)
        finally:
            self.log.info("updating done")
            
    
    def delete(self,record):
        try:
            self.log.info("deleting record")
            cursor = self.mydb.cursor()
            cursor.execute(f"delete from test where x1 = {record[0]}")
            self.mydb.commit()
        except Exception as e:
            self.log.error(f"Issue while deleting record in {__name__}")
            self.log.error(e)
        finally:
            self.log.info("deleting done")

In [197]:
import datetime
import random
import string
import urllib.parse
def generate():
    start = datetime.datetime.now()
    end = start-datetime.timedelta(days=500)
    x1 = random.randint(10**4, (10**5)-1)
    x2 = ''.join(random.choice(string.ascii_lowercase+string.digits) for _ in range(16))
    x3 = start+ (end-start)*random.random()
    return [x1,x2,x3]

record = generate()
record

[30642, 'w9knoakbednj2mxs', datetime.datetime(2023, 1, 11, 0, 46, 42, 527073)]

In [198]:
from pprint import pprint
db = sql('localhost','dummy1','root','Kanna@1999')
db.connect()
db.insert(record,"test")
db.update(generate(),generate())
db.delete(record)

Successfunny connected

In [199]:
path = "D:\python\INEURON\DBMS\dummy_test1.csv"
db.insert_bulk(path,'record')
with open(path,'r') as data:
        next(data)
        data_csv = csv.reader(data,delimiter = '\n')
        for i in data_csv:
            l = i[0].split(',')
            print(l)

['0', '26630', '0okrngcxicdj8qeg', '2021-10-26']
['1', '73381', 'vfjaze7yhytqtavp', '2021-11-01']
['2', '47057', '03efru2d4et3seqk', '2022-07-15']
['3', '29930', 'dg5cum1eefgqpnio', '2023-01-08']
['4', '87662', 'tnuvmgn5u8cgh4m1', '2021-12-02']
['5', '18501', 'elyy2goirib3a49p', '2022-03-10']
['6', '99834', 'yyw4bp4rdhy7roiz', '2022-05-27']
['7', '12387', '2wqdue70lt2qa4un', '2022-03-21']
['8', '21509', 's15xn4levfuwiihw', '2021-12-31']
['9', '14165', 'ouinxv89lrqz971y', '2021-12-24']
['10', '36614', '6lkjpo0i6oryhsxu', '2022-05-27']
['11', '65979', '4mfiyls8r22tzwve', '2022-09-02']
['12', '96409', 'vsug9l1feif6z84c', '2023-01-11']
['13', '93372', '6mh52oxex4fhh26a', '2022-10-06']
['14', '10076', '9hb43gdoazhx7wmj', '2022-01-18']
['15', '38085', 'ljq9l90ruqpgu208', '2021-11-28']
['16', '19489', '5ne1bxro5mn2exl3', '2022-04-11']
['17', '45878', '1237uqb9aaewblvh', '2022-02-15']
['18', '21752', '9cb8ej6b1c09hei0', '2022-05-08']
['19', '92641', 'ww0ifa64llysnxnr', '2022-03-01']
['20', '96000', 'nl93t49elpcserva', '2021-10-14']
['21', '26521', 'rm4lo2at97rjym0b', '2022-09-26']
['22', '86671', 'e45y534is45535gw', '2022-02-15']
['23', '45227', 'lx7fgotqflhzzrpa', '2022-05-01']
['24', '45775', 'gh852stkttbqn5ri', '2022-06-26']
['25', '18877', 'eg2xzy9fnhlm7s0u', '2022-12-02']
['26', '78645', 'q5el4o5j73yys2cd', '2022-04-16']
['27', '89168', '8hnhrqcsrigw90wz', '2021-12-29']
['28', '37821', 'fxctilwsmcvd0v48', '2023-01-11']
['29', '57624', 'jbdex55kyyl2feui', '2022-12-22']
['30', '83138', 'z3qdl6u6oz1vpi62', '2022-08-31']
['31', '64887', '6pkzy3f0zyz1fv2q', '2022-12-10']
['32', '80120', 'wly5r6y2qg8qf3hm', '2022-06-25']
['33', '71764', 'c2qpluep4maro1zl', '2022-02-12']
['34', '73525', 'vntteykfjz08it6x', '2022-07-13']
['35', '90306', 'b1xmfkbsaitr4sk5', '2021-10-17']
['36', '70174', 'ay5s6jb8tyho5qvs', '2022-01-27']
['37', '88104', 'h69p05ko3pe1yxs8', '2022-06-08']
['38', '85384', 'u8ob0lavf40mqpn9', '2022-12-16']
['39', '44637', 'q386heuhnyu2m7m8', '2023-01-22']
['40', '13787', 'ouiqnw7ccwsifpbq', '2022-09-11']
['41', '89369', '4dtkgn1gvoqnjvp9', '2022-06-05']
['42', '97411', 'c8j3gsfb3425f42c', '2022-02-27']
['43', '27665', 'e93ip1z2skmvtk4p', '2022-10-08']
['44', '26413', '3v0p434zdwq2d0yr', '2022-10-25']
['45', '71175', 'm9c5xa5e2440ipml', '2022-02-08']
['46', '11525', '4zdjfccuoks60gt1', '2022-01-05']
['47', '11216', 'dzmzaswpiie88p5b', '2023-01-26']
['48', '78488', 'frjxgifreymjet8m', '2022-10-17']
['49', '93328', 'xv4dhjl6aebhntj2', '2022-08-16']
['50', '54049', '6ahf5ly5a5eijxbu', '2022-12-22']
['51', '90159', '3elvil3oi0zk9n4m', '2021-10-12']
['52', '99029', 'u523n1t4ckn937cw', '2022-08-08']
['53', '23494', 'gyjw1twsskvkv4uc', '2022-09-02']
['54', '42427', 'qii1edfd12c5z51u', '2022-11-16']
['55', '52916', 'befrd4etll89trtu', '2021-12-18']
['56', '32604', 'ho1tx0co8w1aoy07', '2022-03-10']
['57', '63601', 'jycrgg4dmnrawy11', '2022-11-09']
['58', '81809', 'md5tvvggnp4uvqcx', '2022-11-22']
['59', '72887', '470j2i96yoywcxoc', '2021-12-02']
['60', '13048', '0puht1g5cxm0e381', '2022-04-05']
['61', '68279', '9mrcpxrzldva0xns', '2022-11-09']
['62', '24638', '6p58nug3ukyw07ns', '2022-02-25']
['63', '78552', 'kpm4fpyg1w2ltvkr', '2021-11-12']
['64', '92199', '9rbze5aqpcky409d', '2022-03-25']
['65', '16047', '1exw1rzyt5dhus3j', '2022-12-21']
['66', '27279', 'bgk7xaq33zfinp61', '2022-11-01']
['67', '24080', 'nlovh16oqjzgxqv4', '2021-12-18']
['68', '60286', 'bdxrsu3lbmvuwsu1', '2022-02-15']
['69', '16126', 'g05px9gkfit25091', '2022-05-16']
['70', '46886', 'y56camq8qpt3s0cr', '2022-02-06']
['71', '79614', 'yzhthnijtj3utyqq', '2022-06-19']
['72', '82246', '9qzhs17nx5q2g7o6', '2022-04-28']
['73', '74294', '6460hkx533hhiisd', '2022-05-29']
['74', '45664', 'kkpxqg7zo9h9yjfr', '2022-02-25']
['75', '60738', 'wm319xce0napliu8', '2022-12-21']
['76', '25367', '0ndhxk64gh9go3rn', '2021-10-25']
['77', '18033', '4xcua6m49f1ufjj1', '2022-03-19']
['78', '22954', 'wl5bqsg5hbg3mahw', '2022-04-14']
['79', '32238', 'qe3djd9h4e79buwz', '2022-08-27']
['80', '77727', '9a1q7z26yrl0u4jv', '2022-06-29']
['81', '94804', 'jbybf35hcw4cpanc', '2022-02-04']
['82', '28373', '5c5hppo9k3br9t90', '2022-09-30']
['83', '84500', 'qdxq04flbx7mn1hc', '2022-03-04']
['84', '78793', 'o3gcwtwpk02fyxpw', '2021-10-20']
['85', '90209', 'rc4kqav1bnpkqa37', '2022-12-27']
['86', '21616', 'inmqyiu4sgdny3ry', '2023-01-04']
['87', '83165', 'hqh46784bxv2e3kf', '2021-10-05']
['88', '98025', 'k3jk0mol2hv55zrz', '2022-11-22']
['89', '56601', 'xvs4fyy886j6kiiu', '2022-04-15']
['90', '23988', 'xc6c6ks1eom0tctq', '2021-12-13']
['91', '84379', '5bvjmlfcggjx1p8k', '2021-12-14']
['92', '65628', 'djos91pv4m2inmpc', '2022-03-29']
['93', '50134', '3se24m6125xzv97c', '2022-06-05']
['94', '55326', 'jvv2j50px7kt1ua6', '2022-10-14']
['95', '47415', '3yf7n49izoungaq1', '2022-06-14']
['96', '87530', 'q6cwdxasuulq1055', '2022-06-26']
['97', '65783', '3yd6uoib3zuoorff', '2022-02-01']
['98', '46929', 'ttfjt7tsregjtb7n', '2022-06-11']
['99', '52283', 't0pdq0ashx09rl34', '2021-12-25']
['100', '97873', 'at26ngvy6ershbna', '2022-12-14']
['101', '73803', 'xqxl74y3sezrib3z', '2022-03-12']
['102', '30169', 'xo0dlqku0wn31fn9', '2022-06-01']
['103', '13911', '32fhdd9fnkom9sq9', '2022-07-22']
['104', '27264', 'xserd0cryq50btx3', '2022-03-28']
['105', '86361', 'qex3jstvksji26d1', '2022-08-05']
['106', '30331', '6criogw2xrwha7ug', '2022-05-11']
['107', '57932', '96c6vuyku0xnxcyj', '2022-11-02']
['108', '38175', 'grkutlw542jojalx', '2022-02-02']
['109', '73443', 'oc4jj7qdgcjcxp9q', '2021-12-29']
['110', '17487', 'tt00krbywu0bjwop', '2022-08-01']
['111', '86404', 'e7nuec4eibz3pctf', '2022-05-22']
['112', '62937', 'qc9h8uovd0qzqver', '2022-01-26']
['113', '31913', 'b4bdifloqyvk7k96', '2021-12-22']
['114', '68719', 'a2rd4izha0mesmcr', '2021-11-06']
['115', '62087', '8rr6bimd82dy9hwv', '2022-08-30']
['116', '86767', '78qrcq4oird1dn3p', '2022-06-02']
['117', '81381', 'edwni8jt54wo3uof', '2022-08-22']
['118', '36041', 'rhd6nalqb24nxu3h', '2022-01-11']
['119', '85071', 't4ilrh4vrpmuf2zc', '2022-10-07']
['120', '36044', 'shqw694awnl7mm3f', '2021-12-26']
['121', '27450', 'hplhqbriqi0q4j06', '2021-10-16']
['122', '42994', 'ounaq6gziqdasqbx', '2022-06-20']
['123', '98121', 'jfzaxy67zqxjl07s', '2022-07-01']
['124', '84332', 'wh2pvodd9yz1bfij', '2022-06-09']
['125', '32223', 'reda3bjgnu7c41rj', '2021-11-10']
['126', '78170', 'jieb0dvmg1ykyczf', '2022-05-08']
['127', '36783', 'inhxxchq3ip28vtd', '2022-06-19']
['128', '99262', 'wfl54dbkr4a63zd5', '2022-08-30']
['129', '52600', 'jsu81bkie1ybivot', '2022-08-26']
['130', '18408', '7q7ag80pix1jftkb', '2022-10-19']
['131', '55461', '4ue5du9tjddn2ox4', '2022-03-08']
['132', '32318', 'xl1xnbre2wmizaq0', '2022-04-17']
['133', '16571', '9plu1h4xxm1zvsrq', '2022-01-21']
['134', '35883', 'wq067kqv9drqolg8', '2022-10-09']
['135', '13438', 'mq4lzeh151j8844o', '2022-06-15']
['136', '74550', '2szz2d8bb4dh6tx7', '2022-11-18']
['137', '91747', 'cxhqgble1mrw3nue', '2022-10-31']
['138', '61862', '7hnju6shkfqwzufd', '2022-01-02']
['139', '59810', 'ercl4gbc1t01qpbb', '2021-10-09']
['140', '87724', 'pfauffbq0o4j3rra', '2022-06-26']
['141', '94526', 'je7i9qdmjsg4r875', '2022-01-29']
['142', '37008', '4kiktgq5cf1r3r37', '2022-07-05']
['143', '73198', 'y3tzf43sbhnpmx2c', '2021-11-22']
['144', '33597', 'ny596mbqgbnsyuwh', '2022-08-15']
['145', '47511', 'ao274qsyhte4u2os', '2022-11-20']
['146', '36190', '8sb6mayw9wactqsw', '2022-05-03']
['147', '98403', '8mhq3ro7ii0ak3k5', '2022-11-05']
['148', '85272', '40ufordrgkf70hgx', '2021-09-27']
['149', '65742', '41ae1rdg5hru0nd0', '2022-07-04']
['150', '81925', 'fec2lrnc4w9so084', '2022-05-04']
['151', '82648', 'uozrwj1v9o778viz', '2022-08-28']
['152', '64190', 'vy3bl00x21vx2bp3', '2022-02-27']
['153', '31784', 'mbez17qzroogtme1', '2022-05-16']
['154', '67479', '609u2tmq6ykki5wm', '2022-08-01']
['155', '75007', 'olq5o2q58u537t19', '2022-12-29']
['156', '40773', 'jyqdhadeuxsrs6p5', '2021-12-13']
['157', '84204', '1y2yhrl2o9ofeuh0', '2021-11-13']
['158', '61916', 'tt8vcb9c5gb94lbm', '2022-01-11']
['159', '49824', 'yh98uxxnl0lfrj5w', '2022-03-16']
['160', '86640', 'pgpfegjxbde4reea', '2022-08-03']
['161', '76075', 'wicaf6j8w9xb9u5i', '2022-06-17']
['162', '49029', 'xr3axpfuaweaz9ir', '2022-05-15']
['163', '43408', '18exifzs026a0zsp', '2021-10-21']
['164', '88372', 'kv2nh2dq3p390ewa', '2022-07-30']
['165', '52938', 'nanb43can7cnqs52', '2022-05-29']
['166', '40632', '342rqhuolr1murlb', '2021-11-23']
['167', '65696', 'anzsrdf5gojewk6i', '2023-01-24']
['168', '94838', 'xzarslrxw85d6nj7', '2022-02-25']
['169', '31452', 'q4winziwvl19h9ge', '2022-08-20']
['170', '20495', '175mjzvm0c1cp4al', '2022-10-25']
['171', '22367', '78okqvkcr64wcnt8', '2021-12-20']
['172', '94958', 'o2h6hnrvr6jrumk3', '2022-01-19']
['173', '92336', 'dwdmcxj6q1xp3bi6', '2022-05-24']
['174', '86110', 'mk02azgu2mcly0km', '2021-11-01']
['175', '94935', 'knlrboryud3m8v7u', '2022-01-16']
['176', '37951', 'zpsalggh0a3nhfzt', '2022-09-23']
['177', '33549', 'lx02hluas05nuie2', '2021-12-03']
['178', '26765', 'e1hdrjudkb0558i5', '2022-07-26']
['179', '95620', '3wq3x9qa5duxa79n', '2022-11-09']
['180', '79967', '122dge1xw6v5icdz', '2022-09-18']
['181', '50286', '006peufgtrtpc446', '2022-12-21']
['182', '55213', 'hnrs8zce8quosh4h', '2022-04-14']
['183', '67885', 'invo61pjqbsqwhre', '2022-02-20']
['184', '80860', 'mcvxxlbq9oyh51mg', '2022-09-15']
['185', '50172', 'rane99gvtuh5ff3w', '2021-11-28']
['186', '95617', 'b0v74c9p07lasx23', '2022-07-04']
['187', '26243', 'mgbfltie3g4u7qh0', '2021-10-09']
['188', '38632', 'tzskm3prmty0eijg', '2022-04-06']
['189', '95810', 'dnk2h110q3pz7yak', '2022-02-12']
['190', '23756', 'fioehjbw7nzxosrh', '2022-02-25']
['191', '79085', '6jyr91o0gve0wdii', '2022-04-02']
['192', '97829', 'hnfg34juq91yghl7', '2022-11-23']
['193', '52012', 'ac0vssac34qsue5o', '2022-08-27']
['194', '48147', 'x03wq9hhtlz6yafj', '2022-04-30']
['195', '33159', '2czaa1zfmocua3v3', '2022-07-27']
['196', '16263', 'wxw53h4rzxei0g5o', '2022-03-08']
['197', '81647', 'wghck2m5akpugw5f', '2022-11-24']
['198', '80847', 'e49llhdmvk7192nv', '2021-11-07']
['199', '54455', '65bnivc41alxa9g9', '2022-01-06']

In [175]:
# q5 : create a class to implement insert , uupdate and delete in monngo db 
# q7 : create a class to import a data into file from mongo db 

import pymongo
import urllib.parse

class mongo:
    def __init__(self,username,password):
        self.username = username
        self.password = urllib.parse.quote_plus(password)
    def connect(self):
        self.client = pymongo.MongoClient(f"mongodb+srv://{self.username}:{self.password}@cluster0.7nqe1ku.mongodb.net/?retryWrites=true&w=majority")
        return self.client
    def insert(self,database,collection,record):
        client = self.connect()
        db = client[database]
        col = db[collection]
        col.insert_one(record)
    def delete(self,database,collection,record):
        client = self.connect()
        db = client[database]
        col = db[collection]
        col.delete_one(record)
    def update(self,database,collection,record1,record2):
        client = self.connect()
        db = client[database]
        col = db[collection]
        res = col.update_one(record1,record2)
        print(res.modified_count)
    def import_data(self):
        client = self.connect()
        db = client['test']
        coll = db['restraunt']
        data = coll.find()    
        with open("mongo_import.txt",'w+') as f:
            for d in data:
                f.write(str(d)+'\n')
        return data
    def disconnect(self):
        self.client.close()

In [176]:
def generate_dic():
    x1 = random.randint(10**4, (10**5)-1)
    x2 = ''.join(random.choice(string.ascii_lowercase+string.digits) for _ in range(random.randint(0,10)))
    x3 = random.randint(18,50)
    x4 = random.choice(["Male","Female"])
    d = {
        "id" : x1,
        "name" : x2,
        "age" : x3,
        "sex" : x4
    }
    return d

In [177]:
record = generate_dic()
print(record)
nosql = mongo('harsha999ar','Harsha999@r')
nosql.insert('employee_db','employee_tb',record)

{'id': 26879, 'name': 'y15wk', 'age': 37, 'sex': 'Male'}

In [178]:
query = {'age':{'$gt':30}}
nosql.delete('employee_db','employee_tb',query)

In [179]:
r2 = generate_dic()
print(r2)
query = {'id':record['id']}
value = {'$set':{'name' : r2["name"]},'$inc':{'age':-2}}
nosql.update('employee_db','employee_tb',query,value)

{'id': 90627, 'name': 'ud43p28e', 'age': 25, 'sex': 'Male'}
1

In [180]:
data = nosql.import_data()
for d in data:
    print(type(d))

In [117]:
# q6 : create a class to perform append and delete operation in a file and inherit
class file_child(file):
    def __init__(self,filename):
        super().__init__(filename)
    #if you want ot do in file funcitons do a seed(0) to make cursor reset
    def delete(self,pattern,rep):
        try:
            self.log.info(f"Stated deleting in file .....{self.filename}")
            with open(self.filename,'r+') as f:
                data = f.read()
                data = pattern.sub(rep,data)
                f.write(data)
                self.log.info("File deleting completed")
        except Exception as e:
            self.log.error(f"Issue while deleting the file in {__name__}")
            self.log.error(e)

In [118]:
pattern = re.compile(r'ars. Payall',re.IGNORECASE)
file_obj = file_child("text.txt")
replace = "i have made a change here"
file_obj.delete(pattern,replace)

In [181]:
# q8 : Create a class to build a calculator funcnalities addition , 
#     subtraction , multiplication ,div , log , exponenet , power 

class calculator:
    def __init__(self):
        self.log = Log_class()

In [ ]:
# q9 : create a class method to find a time and space complexity 
#     of any function

class complexity:
    def __init__(self):
        pass